Options +MultiViews -Indexes
DirectoryIndex index
LanguagePriority en ko ja
ForceLanguagePriority Prefer Fallback
AddDefaultCharset utf-8

<Files *.ko.txt>
	Order deny,allow
	Deny from all
</Files>
<Files *.en.txt>
	Order deny,allow
	Deny from all
</Files>
<Files *.ja.txt>
	Order deny,allow
	Deny from all
</Files>
<Files *.tmpl.html>
	Order deny,allow
	Deny from all
</Files>

# redirects
RedirectPermanent /favicon.ico /res/icon.ico
