<tr class="parity{parity}">
<th rowspan="2"><a rel="nofollow" href="{url}file/{node|short}{sessionvars%urlparameter}">{rev}:<code class="rev">{node|short}</code></a><span class="logtags">{inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}</span></th>
<td><a rel="nofollow" href="{url}rev/{node|short}{sessionvars%urlparameter}" class="moreinfo"><time class="age" datetime="{date|rfc3339date}">{date|rfc822date}</time> <span class="author">by {author|obfuscate}</span><br/>{desc|strip|escape|addbreaks}</a></td>
</tr>
<tr class="parity{parity}">
<td><ul class="filediff">{files}</ul></td>
</tr>
