<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8"/>
<meta name="generator" content="Mercurial" />
<meta name="robots" content="index, nofollow"/>
<link rel="stylesheet" media="screen" href="http://mearie.org/res/hgweb.css" type="text/css" />
<!--[if IE]><link rel="stylesheet" media="screen" href="http://mearie.org/res/hgweb.ie.css" type="text/css" /><![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://mearie.org/res/global.js"></script>
<!--<link rel="shortcut icon" href="{staticurl}hgicon.png" type="image/png" />-->
<link rel="shortcut icon" href="http://mearie.org/res/icon-hg.ico" type="image/vnd.microsoft.icon" />
