{header}
<title>Error | hg.mearie.org</title>
</head>
<body lang="en" class="lang-en">
<div id="sitebody">
<h1>Error</h1>
<p>The specified repository <tt>{repo|escape}</tt> is unknown, sorry.</p>

</div>
<hr/> 
<div id="siteside"> 
<div class="slogan"> 
	<a href="http://mearie.org/"><img class="logo" src="http://mearie.org/res/logo.png" width="117" height="117" alt="Go to mearie.org front page." /></a> 
</div> 
<div class="menu">
	<ul>
	<li><strong><a href="/">hg.mearie.org</a></strong><ul>
	<li><a href="/?sort={sort_name}">Sort by Name</a></li>
	<li><a href="/?sort={sort_description}">Sort by Description</a></li>
	<li><a href="/?sort={sort_contact}">Sort by Contact</a></li>
	<li><a href="/?sort={sort_lastchange}">Sort by Last Change</a></li>
	</ul></li>
	</ul>
</div>
</div>
{footer}
